
.aboutblog__container{
    background: whitesmoke;
    margin: 3rem auto;
    width:70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.aboutblog__container>div{
    background: rgb(29, 172, 207);
    width: 100%;
}
article{
    padding: 1rem;
    padding-bottom: 0;

}
article>h3{
    color: rgb(29, 172, 207);
}
article>p{
    color: gray;
}
.btn{
    width: 10rem;
    margin-bottom: 0;
    background: rgb(29, 172, 207);
    color: whitesmoke;
    padding: 1rem;
}
.btn:hover{
    background: lightcoral;
}