.contact{
    margin: 5rem 0;
}
.contact__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__container>form{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.contact__container>form>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.contact__info>input{
    padding:1rem;
    border: 1px solid gray;
}
.contact__container>form>input{
    padding:1rem;
    border: 1px solid gray;
    /* height: 10rem; */
    padding-bottom: 8rem;
}

.btn{
    padding: 0.7rem;
    background: rgb(29, 172, 207);
    width: 7rem;
}